name = "price-scraper-web"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "price-scraper-db"
database_id = "69c9546f-df32-4cde-9994-eec99600290b"
